$med-screen: 1024px;
$sm-screen: 768px;
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #404040;
    cursor: pointer;
}
a.danger {
    color: red;
}
.app-container {
    margin-top: 100px;
}
.spacing {
    margin-bottom: 20px;
}
input {
    &.ng-invalid.ng-touched {
        border: 1px solid red;
    }
}
.panel {
    &-header {
        padding: 20px;
    }
    .panel-default {
        border: none;
    }
}
@media (max-width: $med-screen) {
    #related-items li {
        float: none;
        margin: 10px 0;
        width: 100%;
    }
}