<article class="panel panel-default">
    <div class="panel-header">
        <span class="product-total">{{totalProducts}}</span> Total Products in Category <span class="panel-category">"{{getCategory()}}"</span>
    </div>
    <div class="panel-body">
        <div *ngFor="let item of products" class="product-wrapper col-sm-6 col-md-4 col-lg-3">
            <div class="product-container">
                <div class="product-image-container">
                    <img src="{{item.images[0]}}" />
                </div>
                <ul class="product-info">
                    <li *ngIf="item.skuDisplayName_en[0]">
                        {{ item.skuDisplayName_en[0] }}
                    </li>
                    <li *ngIf="item.productType">
                        Located in {{ item.productType }}
                    </li>
                    <li *ngIf="item.productSubType">
                        {{ item.productSubType }}
                    </li>
                    <li *ngIf="item.bodyShape">
                        Body Style / Shape: {{ item.bodyShape }}
                    </li>
                    <li *ngIf="item.series">
                        Series: {{ item.series }}
                    </li>
                    <li *ngIf="item.upc[0]">
                        UPC: {{ item.upc[0] }}
                    </li>
                    <li *ngIf="item.productNo">
                        Series: {{ item.productNo }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</article>