img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 100%;
}
.config {
    display: inline-block;
    font-size: 12px;
    text-align: right;
    width: 19%;
}
.panel-category {
    font-weight: bold;
    text-transform: capitalize;
}

.product {
    &-container {
        align-items: center;
        background-color: #f9f9f9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 16px;
        text-align: center;
    }
    &-image-container {
        min-height: 200px;
    }
    &-info {
        background: white;
        padding: 0;
        margin: 0;
        list-style: none;
        text-align: left;
        li {
            &:first-child {
                font-weight: bold;
                font-size: larger;
            }
        }
    }
    &-total {
        font-weight:bold;
    }
    &-wrapper {
        min-height: 500px;
    }
}