<header class="global-header" [class.affix]="navIsFixed">
    <div class="flex-container container">
        <nav class="menu hidden-xs">
            <a href="#" *ngFor="let link of links">{{link.name}}</a>
        </nav>
        <div class="brand-container">
            <img src="{{brand_image_url}}" alt="{{brand}} Logo"></div>
        <div class="right-container">
            <div class="search-box">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Search" placeholder="{{searchBoxText}}">
                </div>
            </div>
            <div class="signin">Sign In</div>
        </div>
    </div>
</header>